body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
.container{
  background-color: black;
}
.search-field {
  border: none;
  border-radius: 50px;
  padding: 5px;
  outline: none;
}

.search-field:hover {
  outline: none;
  border: none;
}

.search-box {
  border: 1px solid rgb(3, 118, 211);
  width: 281px;
  border-radius: 5px;
  margin: auto;
  margin-top: 50px;
  border-right: none;
  height: 450px;
}

.search-button {
  padding: 10px 50px;
  border-radius: 25px;
  margin-left: 20px;
}

#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.single-product {
  padding: 20px;
  margin: 5px;
  transition: 0.6s;
  background-color: rgb(245, 245, 245);
  border-radius: 15px;
}
.single-product:hover .product-image{
  width: 200px;
  height: 200px;
  transition: 0.5s;
  border: 5px solid rgba(226, 166, 166, 0.397);
}

.single-product:hover {
  box-shadow: 4px 4px 7px rgb(240, 204, 204);
  border-radius: 10px;
}

.product-image {
  width: 150px;
  height: 150px;
  transition: 0.5s;
}

.cart {
  width: 350px;
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 7px;
  margin-right: 30px;
  background-color: #f8f9fa;
  position: fixed;
}

.cart-main {
  padding-right: 30px;
}

@media only screen and (max-width: 768px) {
  #all-products {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
  }
  .cart {
      width: 300px;
      /* border: 1px solid green; */
      padding: 10px;
      box-shadow: 10px 10px 20px gray;
      border-radius: 5px;
      margin-right: 30px;
      position: fixed;
  }
  .cart-main {
      padding-right: 10px;
  }
}

@media only screen and (max-width: 468px) {
  #all-products {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
  }
}